.home-container {
    background-color: red;
    height: 75vh;
    background-image: url('beer_flight.jpg');
    background-repeat: no-repeat;
    background-position: center top 25%;
    background-size: cover;
}